.calendar{
	padding: 0;
}

.calendar__add{
	display: block;
	height: 50px;
	width: 100%;
	background-color: rgb(77, 162, 236);
	font-size: 30px;
	text-align: center;
	align-items: center;
	color:white;
	font-weight: 700;
	text-decoration: none;




}
.calendar__result--container{

}
